.category-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 720px;
}

.home-2{
  width: 1290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-2 h1{
  font-size: 48px;
  color: #07484A;
  height: 8vh;
  width: 85%;
  text-align: center;
}

.category-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .category-links{
    text-decoration: none;
    color: black;
  }
  
  .category-product{
    background-position: center;
    background-size: cover;
    background-color: white;
    color: white;
    height: 20vh;
    width: 35vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
  }
  
  .category-product:hover{
    transition: 0.3s;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .category-product h1{
    font-size: 28px;
    color: white;
    background-color: transparent;
  }