.crop-page{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.crops-page-products{    
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.crop-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .crop-link{
    height: 200px;
    width: 200px;
    color: #07484A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .crop-option .image {
    height: 100%;
  }
  .crop-option img{
    height: 100%;
  }

  .crops-products{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.crops-products h1{
    margin: 5%;
}

.crop-container-height{
  height: auto;
}

@media only screen and (max-width : 1290px) {
  
  .crop-link{
    height: 150px;
    width: 150px;
  }
}