.p-link{
    text-decoration: none;
    color: #70908B;
}

.productpage-container{
    padding-top: 10vh;
}

.product-page {
    width: 768px;
    margin: 30px auto;
    display: flex;
  }
  
  .product-page__image-gallery {
    flex: 1;
  }
  
  .product-page__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-page__rating,
  .product-page__price,
  .product-page__brand,
  .product-page__quantity {
    margin: 10px 0;
  }
  
 .productpage-buttons{
    width: 200px;
    display: flex;
    justify-content: space-between;
 }