.signin-container{
    margin-top: 10vh;
    width: 1290px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin-form{
    background-color: #C4E8E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
}
.signup-form{
    background-color: #C4E8E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}


.signin-form h1{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    /* border-bottom: 2px solid #07484A; */
    color: #07484A;
}


.acc-create-btn{
    margin: 10px;
    height: 34px;
    width: 200px;
    background-color: #c2c2c2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: transparent;
    border-radius: 10px;
    font-family: 'Lexend', sans-serif;
}

.signin-info{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 250px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'Lexend', sans-serif;
}

.signup-info{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 350px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Lexend', sans-serif;
}

.signup-info select{
    font-family: 'Lexend', sans-serif;
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    border: transparent;
}

.signin-info input{
    background-color: white;
    height: 34px;
    width: 250px;
    border-radius: 8px;
    border: transparent;
    font-family: 'Lexend', sans-serif;
}

.signup-info input{
    background-color: white;
    height: 34px;
    width: 250px;
    border-radius: 8px;
    border: transparent;
    font-family: 'Lexend', sans-serif;
}

.signin-btn{
    height: 34px;
    width: 100px;
    border-radius: 15px;
    border: transparent;
    background-color: #EFB261;
    font-weight: bold;
    font-family: 'Lexend', sans-serif;
}

.c-acc{
    width: 200px;
}
