.wishlist-container{
    margin-top: 10vh;
    width: 1290px;
    display: flex;
    flex-direction: column;
}

.heading{
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

.heading img{
    height: 64px;
    width: auto;
    margin: 10px;
}

.heading h1{
  font-size: 48px;
  /* color: #07484A; */
}

.wish-product{
    height: 332px;
    width: 313px;
    margin: 20px;
    border-radius: 50px;
    background-color: #F8F0E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.product-image img{
    height: 150px;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fav-icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fav-icon img{
    height: 28px;
    margin: 10px;
    margin-right: 30px;
}

.product-info h3,p{
    margin: 0px;
}