@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap');
.App{
  height: 100vh;
  
  font-family: 'Lexend', sans-serif;
}

h1 ,h2 ,h3 ,h4 {
  font-family: 'Playfair Display', serif;
}

.page{
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-y: auto;
  overflow: hidden;
}

.page h1{
  margin: 30px;
}

.Navigation{
  background-color: rgb(31, 31, 31);
  position: relative;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.logo{
 
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar{
 
 height: 100%;
 width: 40%;
 display: flex;
 justify-content: space-around;
 align-items: center;
}


.links{
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
  cursor: pointer;
  
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 24px;
  
}

.links:hover{
  padding-bottom: 8px;
  border-bottom: 2px solid white;
  
}


.btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
}


.search{
  margin-left: 10%;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.search-container{
  
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container input{
  height: 40px;
  width: 80%;
  border: 3px solid black;
  border-radius: 10px;
}

.second-links{
  text-decoration: none;
}

.search-btn{
  width: 10%;
  display: flex;
  justify-content: center;
}

.home-1{
  background-image: url('./images/home-1.png');
  background-position: center;
  background-size: cover;
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0% 0% 65px 65px;
}

.home-1 h1{
  font-size: 64px
}

.home-1 h2{
  font-weight: lighter;
  font-family: 'Lexend', sans-serif;
}

.home-1 button{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;

  height: 70px;
  width: 200px;
  border-radius: 10px;
  border: transparent;
  background-color: #07484A;
  color: white;
  margin: 3%;
}

.home-2{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-2 h1{
  font-size: 64px;
  color: #07484A;
}


.category-container{
  height: 80%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.category-links{
  text-decoration: none;
  color: black;
}

.category-product{
  background-position: center;
  background-size: cover;
  background-color: white;
  color: white;
  height: 250px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.category-product:hover{
  transition: 0.3s;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category-product h1{
  font-size: 36px;
  color: white;
}

.category-product button{
  
  margin: 5%;
  height: 40px;
  width: 120px;
  font-weight: bold;
  font-size: 16px;
  border: transparent;
  border-radius: 5px;
  background-color: #A5E1FD;
}



.category-inside{
  height: 100%;
  width: 80%;
  display: flex;
}

.category-filter{
  border-radius: 20px;
  height: 95%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category-filter input{
  border-color: transparent;
  border-bottom: 2px solid;
  height: 20px;
  width: 90%;
}

.brands-container{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.brand-select{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-select label{
  margin-left: 20%;
}

.category-items-container{
  
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.product{
  background-color: white;
  height: 350px;
  width: 270px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  margin: 15px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product:hover{
  transition: 0.2s;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product .product-image img{
  height: 200px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 5px;
}

.product .product-info h3{
  margin: 0px;
  margin-top: 2px;
  text-align: center;
}

.product .product-info p{
  margin: 0px;
  margin-top: 5px;
  font-size: 10px;
}

.product .product-info{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.product-buttons{
  display: flex;
  justify-content: space-around;
}

.product .product-info button{
  margin-top: 5px;
  border-radius: 15px;
  border: 3px solid black;
  height: 35px;
  width: 150px;
  color: white;
  background-color: black;
  transition: 0.2s;
}

.product .product-info button:hover{
  transition: 0.2s;
  color: black;
  font-weight: bold;
  border-color: rgb(78, 243, 136);
  background-color: rgb(78, 243, 136);
}

.textdecoration{
  text-decoration: none;
  color: black;
}

.main-section{
  height: 100%;
  width: 100%;
  overflow:hidden;
  overflow-y:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image{
  height: 100%;
  width: 40%;
  display: flex;
}

.main-info{
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.main-buy{
  
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.image-panel{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.image-panel img{
  height: 50px;
  width: 50px;
  margin: 10px;
}

.front-image{
  height: 70%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-image img{
  height: 300px;
}

.main-info .heading{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  
}

.main-info .heading p{
  font-size: 10px;
}

.main-info h4{
  margin-left: 20px;
  height: 10%;
}

.MRP{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: 30%;

}

.offer-container{
  display: flex;
  flex-wrap: wrap;
  height: 30%;
 
}

.offer{
  background-color: white;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.unit{
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.unit .unit-box{
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pincode{
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pincode input{
  height: 20px;
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
}

.pincode button{
  height: 25px;
  width: 100px;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  background-color: black;
}

.sign-in-box{
  
  height: 50%;
  width: 20%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.sign-in-box h2{
  margin: 5px;
}

.sign-in-box h3{
  margin: 5px;
}

.sign-in-box input{
  height: 25px;
  width: 70%;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid black;
  text-align: center;
}

.sign-in-box button{
  border-radius: 10px;
  border: 2px solid black;
  margin: 10px;
  margin-top: 20px;
  width: 150px;
  height: 30px;
  background-color: black;
  color: white;
}

.sign-up-box{
  background-color: aliceblue;
  height: 50%;
  width: 20%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


